@mixin dark-scheme {
  /* Framework color */
  --main-bg: #1a2431;
  --mask-bg: #c1c3c5;
  --main-border-color: #263447;

  /* Common color */
  --text-color: #95b9bc;
  --text-muted-color: #78a6a9;
  --text-muted-hightlight-color: inherit;
  --heading-color: #9cbec0;
  --label-color: #86afb2;
  --blockquote-border-color: #273649;
  --blockquote-text-color: #78a6a9;
  --link-color: #4aadff;
  --link-underline-color: #29394e;
  --button-bg: #1a2431;
  --btn-border-color: #212d3e;
  --btn-backtotop-color: #7eaaad;
  --btn-backtotop-border-color: #263548;
  --btn-box-shadow: #eaeaea;
  --checkbox-color: #94b9bb;
  --checkbox-checked-color: #20b1f9;
  --img-bg: radial-gradient(circle, #1a2431 0%, #202c3c 100%);
  --shimmer-bg: linear-gradient(90deg, rgba(28, 38, 52, 0) 0%, #223041 50%, rgba(28, 38, 52, 0) 100%);

  /* Sidebar */
  --site-title-color: #79a7aa;
  --site-subtitle-color: #79a7aa;
  --sidebar-bg: #1c2736;
  --sidebar-border-color: #273649;
  --sidebar-muted-color: #87b0b3;
  --sidebar-active-color: #a2c2c4;
  --sidebar-hover-bg: rgba(34, 47, 64, 0.64);
  --sidebar-btn-bg: #1a2431;
  --sidebar-btn-color: #83A6A9;
  --avatar-border-color: #1a2431;

  /* Topbar */
  --topbar-bg: rgba(26, 36, 49, 0.7);
  --topbar-text-color: #8ab2b5;
  --search-border-color: #263549;
  --search-icon-color: #95b9bc;
  --input-focus-border-color: #32455e;

  /* Home page */
  --post-list-text-color: dimgray;
  --btn-patinator-text-color: #87b0b3;
  --btn-paginator-hover-color: var(--sidebar-bg);

  /* Posts */
  --toc-highlight: #04408b;
  --tag-hover: #243244;
  --tb-odd-bg: #1b2533;
  --tb-border-color: #28374b;
  --footnote-target-bg: #005b5b;
  --btn-share-color: #73a3a6;
  --btn-share-hover-color: #2092fd;
  --card-bg: #1a2431;
  --card-hovor-bg: #243244;
  --card-shadow: rgb(104, 104, 104, 0.05) 0 2px 6px 0, rgba(211, 209, 209, 0.15) 0 0 0 1px;
  --kbd-wrap-color: #31445d;
  --kbd-text-color: var(--text-color);
  --kbd-bg-color: #1a2431;
  --prompt-text-color: rgba(154, 188, 191, 0.77);
  --prompt-tip-bg: rgba(8, 137, 57, 0.2);
  --prompt-tip-icon-color: #3afc3a;
  --prompt-info-bg: #033d58;
  --prompt-info-icon-color: #42aeff;
  --prompt-warning-bg: #4b3900;
  --prompt-warning-icon-color: #fcaf21;
  --prompt-danger-bg: rgba(84, 15, 21, 0.56);
  --prompt-danger-icon-color: #e1493e;

  /* tags */
  --tag-border: #29394e;
  --tag-shadow: var(--btn-border-color);
  --search-tag-bg: #1c2735;

  /* categories */
  --categories-border: rgba(99, 152, 156, 0.13);
  --categories-hover-bg: var(--btn-border-color);
  --categories-icon-hover-color: #8fbcbc;

  /* archives */
  --timeline-color: rgba(0, 0, 0, 0.07);
  --timeline-node-bg: #2e3f56;
  --timeline-year-dot-color: #1a2431;

  .light {
    display: none;
  }

  hr {
    border-color: var(--main-border-color);
  }

  /* categories */
  .categories.card,
  .list-group-item {
    background-color: var(--card-bg);
  }

  .categories {
    .card-header {
      background-color: var(--card-header-bg);
    }

    .list-group-item {
      border-left: none;
      border-right: none;
      padding-left: 2rem;
      border-color: var(--categories-border);

      &:last-child {
        border-bottom-color: var(--card-bg);
      }
    }
  }

  #archives li:nth-child(odd) {
    background-color: var(--main-bg, #1a2431);
    background-image: linear-gradient(to left, rgb(26, 36, 49), rgb(27, 38, 52), rgb(27, 38, 52), rgb(27, 38, 52), rgb(26, 36, 49));
  }

  color-scheme: dark;

  /* stylelint-disable-next-line selector-id-pattern */
  #disqus_thread {
    color-scheme: none;
  }
}

/* dark-scheme */